/*
 * CSS Styles for VFS Demo App
 *
 * Copyright 2014-2015, Vancouver Film School
 *
 */

body {
    background-color:black;
}

body,div {
    margin:0;
    border:none;
    color: #000;
    background-color: grey;
    font-family: Helvetica, Arial;
    background-color: #999;
    position:  relative;
}

/* Styles for illustrating the example */
a {
    color:#FFF;
    text-decoration:underline;
}

.clearfix {
    clear: both;
}  

/* Styles for the experiment GUI */
.panel {
    font-size:16px;
    position: fixed;
    top:0;
    right:1%;
    width:12%;
    z-index:2;
    background-color: #555;
    padding: 10px;
}


.content {
    background-color: white;
    
}


.container {
    background-color: #DDD;
    border: 2px solid #000;
}


.main {
    position: relative;
    display:  inline-block;
    height:   768px;
    z-index:  100;
}

#sidebar {
    width: 10%;
    /* margin: 0 1em; */
    padding: 0 1em;
}

#sidebar-data {
    width: 100%;
    height: 768px;
}

#wrapper {
    margin: 0em auto;
    width: 1024px;
    height: 768px;
}

    #app-area {
        width: 960px;
        height: 730px;
        margin: 1em;
    }


#game-area {
    position: relative;
    left: 0;
    top: 0;
    
    width:100%;
    height:100%;                
                   
    z-index:200;
    overflow:hidden;
}

 
#title {
    /* width: 60px; */
    height: 4em;
    /* background-image:url("../images/crate1.jpg"); */
    background-size:100% 100%;
    background-color:  white;
    margin: 5.5em;
    margin: -0.5em;
    m 2em;
}

.debug-menu {}

#app-frame {
    width: 90%;
    margin:  0 auto;
}

header {
    height:  8em;
}

#test-form {
    margin-left: 1em;
}